.table-invoice-childtable>tbody>tr>td:last-of-type {
    text-align: right;
}

.table-invoice-childtable>tbody>tr>td:first-of-type {
    width: 110px;
    text-align: left !important;
}
.invoice-print-address {
    width: 700px;
    margin-top: 10px;
}
.invoice-print-address {
    font-size: 16px;
    font-weight: 300;
    color: #000;
}

@media (min-width: 768px) {
  .item-view dt {
    float: left;
    width: 110px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .item-view dd {
    margin-left: 130px;
  }
}
@media (min-width: 768px) {
  .item-main-view dt {
    float: left;
    width: 90px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top:6px;
  }
  .item-main-view dd {
    margin-left: 110px;
    margin-right: 20px;
  }
}
.item-main-view .item-code dd {
    padding-top: 6px;
}
.item-code {
    height: 40px;
}
@media (min-width: 768px) {
  .item-tax dt {
    float: left;
    width: 90px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top:6px;
  }
  .item-tax dd {
    margin-left: 20px;
    padding-top:6px;
    width: 300px;
    height: 40px;
  }
}
.item-tax-edit {
    padding-top:6px;
    padding-left:60px;
}
.percent {
    position: absolute;
    right: 12px;
}
.dollar-symbol {
    padding-top:7px;
}
.on-off-symbol {
    display: none;
}
.tax-status {
    position: absolute;
    left: 9px;
}
.tax-rate {
    position: absolute;
    right: 25px;
    font-size: 15px;
}
#lineitem-tax_status {
    margin-left: 20px;
}
#apply-discount-modal .modal-dialog {
    width: 650px;
}
#adjust-tax-modal .modal-dialog {
    width: 400px;
}
.tax-dollar-symbol {
    position: absolute;
    right: 10px;
}
.discount-dollar-symbol {
    position: absolute;
    padding-top: 7px;
    right: 35px;
}
