.schedule-picker {
	margin-left: 750px;
    position: absolute;
    margin-top: -43px;
}
.selectivity-single-select {
	background: transparent;
    border-radius: 0;
    border-bottom: 1px solid #b5b5b5;
	margin-right: 10px;
    padding-bottom: 2px;
}
.filter_by_calendar {
	position: relative;
    top: 5px;
}