body > .header .logo {
	font-family: inherit;
}
body > .header .navbar .nav > li > a > .badge {
	position: absolute;
	top: 4px;
	right: 0;
	font-size: 75%;
}
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
	background: none;
	color: inherit;
}
body .user-panel > .info {
	padding-left: 10px;
}
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}
#admin-login {
	text-align:center;
	font-weight :bold;
	font-size : 18px;
}
.content {
	padding: 10px;
}
.content-header>h1 {
	font-size: 20px;
}
.content-header {
	margin-bottom: 5px;
}
/*# sourceMappingURL=style.map *//*# sourceMappingURL=style.map */
.alert {
	padding:6px;
}
.login-logo-img {
	width : 300px;	
}
.smw-logo {
	width : 160px;	
}
.location {
    margin: 9px 10px 0 0;
    border: 0;
    position: relative;
    background: url(/img/select-arrow.png) no-repeat 97% center;
    cursor: pointer;
	background-color: #3c8dbc;
    color: white;
}
.report-footer-grandtotal{
    font-size: 18px;
    font-weight: bold;
}
.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}
.go-back {
	margin-right: 8px;
	font-size: 14px;
}
.note-btn {
	margin-bottom:-10px;
}
#show-all label{
	font-weight: normal;
	font-size: 17px;
}
#show-all-programs-label{
	font-weight: normal;
	font-size: 18px;	
}
#show-all-programs{
        margin-left:25px;
}
.table {
	cursor:pointer; 
}
.text-add-new {
	float: left;
    margin: 10px 0 0 0;
}
#stepwizard_step1_next {
	margin-top: 20px;
}
#stepwizard_step2_prev, #stepwizard_step2_save {
	margin-top: 10px;	
}
.m-r-10 {
	margin-right:10px;
}
.m-r-20 {
	margin-right:10px;
}
.m-r-25 {
	margin-right:25px;
}
.m-r-45{
    margin-right:45px;
}
.m-r-55{
    margin-right:55px;
}
.m-t-n-35 {
	margin-top:-35px;
}
.m-l-10 {
	margin-left:10px;
}
.m-l-15 {
	margin-left:-15px;
}
.m-b-10 {
	margin-bottom:10px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-t-25 {
    margin-top: 25px !important;
}
.schedule-visibility-action-button
{
  float:right;
   margin-top: -45px; 
}
.student-enrolment-menu-option
{
  float:right;
  margin-top: -35px; 
}
.p-t-10 {
    padding-top: 10px;
}
.apply-credit-error-alert {
    font-size:18px;
    color:red;
    text-align: center;
}
.text-center{
    text-align: center;
}
.f-s-24 {
	font-size:24px;
}
.h-30 {
	height:30px;
}
.p-10 {
	padding:10px;
}
.enrolment-dollar {
	left: 80px;
    margin-top: 6px;
}
.enrolment-text {
    right: 25px;
    margin-top: 6px;
}
.fa-pencil, .fa-chain, .fa-angle-down, .fa-plus, .fa-calendar {
	cursor:pointer;
}
.primary-contact {
	font-size: 15px;
}
.sortable {
	border:0px;
}
.sortable li {
	border:0px;
	margin:0px;
	padding:0px;
}
dl {
	margin-bottom:0px;
}
.primary dt {
	font-weight:bold;
}
.primary dd {
	font-weight:bold;
}

@media (min-width: 768px) {
  .dl-invoice-summary dt {
    text-align: left;
        float:left;
        line-height:1.5;
        font-weight:normal;
  }
  .dl-invoice-summary dd{
	text-align: right;
        line-height:1.5;
  }
  .royalty dd{
      text-align:right;
      width:100px;
  }
   .m-l-22
    {
        margin-left:22px;
    }
}
@media print {
    .dl-invoice-summary dt {
        text-align: left;
        float:left;
        line-height:1.5;
        font-weight:normal;
    }
    .dl-invoice-summary dd{
        text-align: right;
        line-height:1.5;
    }
    .m-l-22
    {
        margin-left:22px;
    }
    .new-invoice-print-address
    {
        width: 1000px;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 300;
        color: #000;
    }
    .f-s-30{
    font-size:30px;
}
.royalty dd{
   float:right;
   margin-right:500px;
   line-height:0.75;
   margin-top:-12px;
}
}
.lesson-colorcode{
    width: 15px; 
    height:15px;
    pointer-events:none;
    border:none;
 }
.course-form {
	margin-top: -35px;
    margin-left: 80px;
}
.not-primary dt {
	font-weight:inherit;
}
.primary-contact {
	font-size: 15px;
}
.return-invoice {
    position: relative;
}
.return-invoice:before {
    content: "Returned";
    color: white;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    background: green;
    border-radius: 30px;
    padding: 4px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
	margin-top: 8px;
}
.posted-invoice {
    position: relative;
}
.posted-invoice:before {
    content: "Posted";
    color: white;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    background: green;
    border-radius: 30px;
    padding: 4px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
	margin-top: 8px;
}
.course-icon {
	font-size: 20px;
    margin-top: 6px;
}

.user-create-form {
	margin-right:15px;
	margin-left:15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}
.user-profile {
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 50%;
	margin-top: -20px;
}
#invoice-header {
	margin-top : -5px;
}
.location-header {
	margin-top:9px;
}
.staff-location-header {
	margin-top:15px;
}
.invoice-search {
	margin-top :10px;
}
.pro-forma-search {
	margin-top :10px;
}
.invoice-search {
	margin-top :-15px;
}

.modal-content {
	border-radius:6px;
}
#courseschedule-duration, #lesson-duration, #rate-per-month, #payment-frequency-discount,
#enrolment-discount, #discounted-rate-per-month,#courseschedule-programrate,#course-duration,#course-weekscount{
	text-align:right;
}
#group-course-create-modal .modal-dialog .modal-content .modal-body {
    overflow-y: auto;
    overflow-x:hidden;
}
.right-align {
	text-align:right;
}
.sortable .handle .fa-arrows{
   opacity:0 !important;
}
.user-contact-list
{
  margin-top: -20px; 
  margin-left: -50px; 
}
.multiselect-disable
{
    pointer-events : none;
    opacity: 0.5;
}
.modal-form-label {
	margin-left:-10px;
}
.modal-customer-label {
	margin-left:-25px;
}
.summary {
    display: none;
}
.classroom-dialog {
	width : 400px;
}
#classroom-title-description {
   position: fixed;
    border:1px solid #c7bf93;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
	padding:6px 8px;
    left: 30%;
    display: none;
     /* half height of the spinner gif */
    text-align:center;
    z-index:10000;
    overflow: auto;
    min-width:0px;
    min-height:0px;
    max-width:300px;
    color:#000;
    background-color:#fff9c9;
    font-weight: bold;
    font-size: 14px;
}
.direct-chat-timestamp {
    color: #999;
}
.show-all-top {
    margin-top: -10px;
}
.apply-credit-row {
	background-color: antiquewhite;
}
.click-disable{
     pointer-events:none;
}
.modal {

    overflow-y: scroll;
}
.f-s-20{
    font-size:20px;
}
@media (min-width: 768px) {
    .end-date-adjustment dt {
      float: left;
      width: 160px;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .end-date-adjustment dd {
      margin-left: 180px;
      width: 150px
    }
  }
.modal-body {
    max-height: calc(100vh - 143px);
    overflow-y: auto; 
}
 .table > tbody > tr.success > td ,.table > tbody > tr.kv-group-footer > td,.table > tbody > tr.kv-grid-group-row > td,.table > tbody > tr.kv-page-summary > td{
    background-color: white !important;
    pointer-events:none;
}
.receive-payment-text {
    font-weight: bold;
    font-size: 18px;
}

.receive-payment-text-value {
    font-size: 18px;
}

.total-horizontal-dd {
    width: 60px;
}

.show-more-link {
	margin-right: -950px;
}

.label-student {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 80%;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.referral-source {
    width: 190px;
}