.info-box-content {
	margin-left: 65px;
}
.info-box-icon {
	width: 60px;
}
.dashboard-search {
    padding-bottom: 15px;
}
.dashboard-header-search {
    width: 300px;
    margin-top: -12px;
    margin-left:-20px;
}
.report-header-search {
    width: 620px;
    margin-top: -12px;
    margin-left:-30px;
}
.highcharts-root {
    max-height: 350px;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    overflow-x: auto !important;
}
.highcharts-container {
    max-width: 2150px;
    width:100% !important;
    overflow: auto !important;
}
.highcharts-background {
    max-width: 1200px;
}
#w4 {
    max-width: 2150px;
    max-height: 350px;
    width:100% !important;
    /*overflow-x: auto !important;*/
}