.info-box-content {
	margin-left: 65px;
}
.info-box-icon {
	width: 60px;
}
.dashboard-search {
    padding-bottom: 15px;
}
.dashboard-header-search {
    width: 300px;
    margin-top: -12px;
    margin-left:-20px;
}
.report-header-search {
    width: 620px;
    margin-top: -12px;
    margin-left:-30px;
}
.highcharts-root {
    max-height: 240px;
}
.highcharts-container {
    max-width: 2150px;
}
.highcharts-background {
    max-width: 2150px;
}
#w4 {
    max-width: 2150px;
    max-height: 250px;
}